extends layout 

block content
	nav.navbar.navbar-default(role='navigation')
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					img(src="./img/roots-logo.png" style="width:190px;height:auto").navbar-brand

			
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav
						ul.nav.navbar-nav.navbar-right(style="margin-top:9px")
							li
								a(href='/grove-calendar') Create Grove Activities
							li
								a(href='/student-tracker') Student Tracker

								

	.container
		h2 Create Grove Activities
		h3 Select Student
		.form-group
			input.form-control(id="student-name-search" name="name" type="text" placeholder="Search for a student")
		.form-group
			select.student-names-select.form-control#student-names-select(style={visibility: 'hidden'} multiple)

		h2 Student Schedule
		h4.student-title
			span(id="student-icon")
			span.text-muted(id="student-name")

		div.calendar-container(id="calendar-container" style={display: 'none'})
			table.table.table-striped
				thead
					tr
						th Checked In
						th Center
						th Activity
						th Focus Area
						th Edit
						th Remove
				tbody(id="events-list")
			div.row(id="calendar-button-container")
				button.btn.btn-info(id="create-new-event") 
					i.fa.fa-plus
					|   New Event
				button.btn.btn-success.pull-right(id="save-calendar")
					i.fa.fa-calendar
					|   Save Grove Cycle

		div.row
			form.form.activity-form(id="activity-form" style={display: 'none'})
				fieldset
					legend(id="activity-legend")
					.form-group
						label(for="activity") Activity
						select.form-control(name="activity")
							option(selected disabled) Choose an activity...
					.form-group
						label(for="focus_area") Focus Area
						select.form-control(name="focus_area")
							option(selected disabled) Choose a focus area...
					.form-group
						.col-sm-offset-2
						div.checkbox
							label
								input(name="checkedIn" type="checkbox")
								|Checked in
					button.btn.btn-danger.btn-sm.pull-right(id="cancel-event-add") Done
					button.btn.btn-success.btn-sm(id="add-event") 
						i.fa.fa-plus
						span(id='add-event-text')   Add Event
block scripts
	script(src="/js/grove-calendar.js")
