extends layout

block content
	a(href="https://accounts.google.com/o/oauth2/auth?scope=email%20profile%20https://www.googleapis.com/auth/calendar&redirect_uri=http://localhost:7060/auth&response_type=token&client_id=384296996745-v29h5e9pped8an8imqdglkhevt9peafg.apps.googleusercontent.com") Google Sign In