extends layout

block meta
	meta(name='google-signin-clientid', content='384296996745-v29h5e9pped8an8imqdglkhevt9peafg.apps.googleusercontent.com')
	meta(name='google-signin-scope', content='https://www.googleapis.com/auth/plus.login')
	meta(name='google-signin-requestvisibleactions', content='http://schema.org/AddAction')
	meta(name='google-signin-cookiepolicy', content='single_host_origin')
	script(src='https://apis.google.com/js/client:platform.js?onload=render' async='' defer='')
	script.
		/* Executed when the APIs finish loading */
		function render() {
			// Additional params including the callback, the rest of the params will
			// come from the page-level configuration.
			var additionalParams = {
				'callback': signinCallback
			};
			gapi.signin.render(document.getElementById('signinButton'), additionalParams); // Will use page level configuration
			gapi.client.setApiKey('AIzaSyAY-0UEcPWe5JRn0cm3ZacDvwW1T-Awr7E');
		}

block content
	.row
		.col-sm-offset-5.col-sm-2.text-center
			button.btn.btn-info#signinButton(style="margin-top: 40vh")
				i.fa.fa-google.fa-2x
				|  Sign in with Google
	.container
		#name

		.progress.countDown
			.progress-bar.progress-bar-success.progress-bar-striped.active(style='width:0%')
		.timer
		if fail
			.eventContainer.whoopsContainer
				.eventImageContainer.row
					#locationImage.locationImage.col-xs-4
					#activityImage.activityImage.col-xs-4
					#creatorImage.creatorImage.col-xs-4
				.eventTextContainer.row
					#locationText.locationText.col-xs-4
					#activityText.activityText.col-xs-4
					#creatorText.creatorText.col-xs-4
		else
			.eventImageContainer.row
				#locationImage.locationImage.col-xs-4
				#activityImage.activityImage.col-xs-4
				#creatorImage.creatorImage.col-xs-4
			.eventTextContainer.row
				#locationText.locationText.col-xs-4
				#activityText.activityText.col-xs-4
				#creatorText.creatorText.col-xs-4
		.scan-button
			button.btn.btn-success(style="padding: 4px 20px;")
				i.fa.fa-qrcode.fa-2x
				a#scan-button Scan
				
				

block scripts
	script(src='//code.jquery.com/jquery.js')
	script(src='https://rawgit.com/eAdnan007/jquery-countdown/master/jquery.countdown.min.js')
	script(src='/js/signin.js')
