extends layout

block content
	.buttonContainer
		.row
			button.col-md-12 Lost Kids
		.row
			button.col-md-4 Library
			button.col-md-4 Maker Space
			button.col-md-4 Reading
		.row
			button.col-md-4 Writing

block scripts
