doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport")(content="width=device-width")

		block meta

		title Roots Check-In Tool
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='/stylesheets/main.css')
		block stylesheets

	body
		nav.navbar.navbar-default(role='navigation')
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					img(src="/img/roots-logo.png" style="width:190px;height:auto").navbar-brand

			
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav
						ul.nav.navbar-nav.navbar-right(style="margin-top:9px")
							li
								a(href='/grove-calendar') Grove Calendar
							li.dropdown
								a.dropdown-toggle(href='/student-tracker', data-toggle='dropdown')
									| Student Tracker
									//- span.caret
									//- 	ul.dropdown-menu(role="menu")
									//- 		li
									//- 			a Library
									//- 		li
									//- 			a Maker Space
							


		block content
		
		script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.1.0/lodash.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.4/socket.io.min.js")
		script(src="CONFIG.js")
		block scripts

		