extends layout

block content
	.container
		h2.text-center.grove-heading
			i.fa.fa-list-ol.small
			|   Grove Cycle
		table#groveCalendar.table.table-striped
			tbody
				tr
					td 
						h2 1
					td
						#locationImage1
						#locationText1
					td
						#activityImage1
						#activityText1
					td
						#focusAreaImage1
						#focusAreaText1
				tr
					td 
						h2 2
					td
						#locationImage2
						#locationText2
					td
						#activityImage2
						#activityText2
					td
						#focusAreaImage2
						#focusAreaText2
				tr
					td 
						h2 3
					td
						#locationImage3
						#locationText3
					td
						#activityImage3
						#activityText3
					td
						#focusAreaImage3
						#focusAreaText3

block scripts
	script(src='/js/full-schedule.js')