extends layout

block content
	h3.student-tracker-title Student Tracker
	
	.container
		#accordion.panel-group(role='tablist', aria-multiselectable='true')
			.panel.panel-default.title-panel
				#headingOne.panel-heading(role='tab')
					a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
						h4 Wrong Location
			#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
				.panel-body
					#WrongLocation
			.panel.panel-default
				#headingTwo.panel-heading(role='tab')
					h4.panel-title
						a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
							h4 Maker Space
			#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
				.panel-body
					#MakerSpace
			.panel.panel-default
				#headingThree.panel-heading(role='tab')
					h4.panel-title
						a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
							h4 Library
			#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
				.panel-body
					#Library
	

block scripts
	script(src='/js/lost-kids.js')
