extends layout

block content
	h1.text-center(style="margin-top: 150px")
		|  Success!
	h1.text-center.text-success
		i.fa.fa-5x.fa-check-circle-o

block scripts
	script.
		(function(){
			window.setTimeout(window.close, 5000);
		})()