.countDown {
	max-width: 90%;
	margin: auto;
}

#name {
	text-align: center;
	margin: auto;
	padding-top: 1%;
	padding-bottom: 5%;
}

#event {
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 4%;
}

.scan-button {
	text-align: center;
	margin: auto;
	margin-top: 5%;
}

button {
	padding: 1.5% 7% 1.5% 7%;
}

.eventImageContainer,
.eventTextContainer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

.eventTextContainer {
	margin-top: 0%;
	margin-bottom: 3%;
}

.locationImage {
	display: block;
}

.timer {
	display: none;
}

#groveCalendar {
	text-align: center;
	margin: auto;
}

/*whoops styles*/

.whoopsContainer {
	border: #FF0000 solid 2px;
}

.tryAgain {
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 4%;
}

