.countDown {
	display:none;
	max-width: 90%;
	margin: auto;
}

#name {
	text-align: center;
	margin: auto;
	padding-top: 1%;
	padding-bottom: 5%;
}

#event {
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 4%;
}

.scan-button {
	display:none;
	text-align: center;
	margin: auto;
	margin-top: 5%;
}

button {
	padding: 1.5% 7% 1.5% 7%;
}

.eventImageContainer,
.eventTextContainer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.eventTextContainer {
	margin-top: 0%;
	margin-bottom: 3%;
}

.locationImage {
	display: block;
}

.timer {
	display: none;
}

#groveCalendar {
	text-align: center;
	margin: auto;
}

/*whoops styles*/

.whoopsContainer {
	border: #FF0000 solid 2px;
	margin-top:50px;
}

.tryAgain {
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 4%;
}

/*grove calendar styles*/
.location-grove {
	height: 200px;
	border-right: 1px solid #000 ;
}

.location-grove-title {
	text-align: right
}


/*STUDENT TRACKER STYLES*/
.student-tracker-title {
	margin:auto;
	text-align: center;
	width:100%;
	margin-bottom:10px;
	margin-top:10px;
}

.Lost {
	border:#ED0802 solid 3px;
	width:25%;
	text-align:center;
	margin:7px;
	border-radius:7px;
	padding:7px;
	color:#484848;
}

.Lost img {
	text-align:center;
	margin:auto;
}

.Found {
	border:#8BAB42 solid 3px;
	width:25%;
	text-align:center;
	margin:7px;
	border-radius:7px;
	padding:7px;
}

.Found img {
	text-align:center;
	margin:auto;
}

.studentLocationDisplay {
	display:inline-block;
}
#WrongLocation {
	width:100%;
	text-align:center;
	margin:auto;
}

.name {
	font-size:16px;
	font-weight: bold;
	margin-bottom:15px;
}

.nameImageContainer {
	margin-bottom:15px;
}

.collapse.in {
	background-color: #fff;
}

.panel {
	border:none;
}

@media only screen (max-width:480px) {
	.Lost {
		width:90%;
	}
}

.studentImage {
	width:90px;
	height:auto;
}

.location-image img {
	width: 180px;
}

.activity-image img {
	width:180px;
}

#groveCalendar .activity-image{
	width:65px;
}


#groveCalendar.table-striped>tbody>tr:nth-of-type(odd) {
	background-color:#fff;
}

#groveCalendar.table-striped>tbody>tr:nth-child(1) {
	border: #8BAB42 solid 3px;
	border-radius: 5px;
}

.container {
	margin-bottom: 30px;
}

#student-icon {
	margin-right: 10px;
}

.grove-heading {
	margin-bottom: 20px;
}

.eventImageContainer #activityImage>img {
	width:75px;
}

.schedule-button {
	position: absolute;
	top:5px;
	right:5px;
}

.scan-button .fa {
	margin-right:8px;
}

#scan-button {
	color:#fff;
	text-decoration: none;
}
